*{
  padding: 0;
  margin: 0;
}
html,body{
  padding: 0;
  margin: 0;

}
.container{
  position: relative;
  padding: 1% 2%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+50,21ff28+50 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(45deg,  #000 50%, #21ff28 50%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #000 50%,#21ff28 50%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #000 50%,#21ff28 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000', endColorstr='#21ff28',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
min-height: 100vh;
display: flex;
    flex-direction: column;
    // height: 97vh;
    justify-content: center;
}
.logo{
  width: 300px;
  opacity: 0.05;
}
header{
  display: flex;
    align-items: center;
    justify-content: center;
    height: 96vh;
    position: absolute;
    top: 0;
}
.upload{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 20px;
}
label{
  font-size: 18px;
    color: #fff;
    margin: 10px 0;
}
.ant-upload .ant-btn{
    width: 450px;
    padding: 17px 0;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 0 10px #cacaca8a;
}
.ant-btn:hover, .ant-btn:focus{
  color: #0a940f;
  background: #fff;
  border-color: #a8f6ab;
}
.ant-upload-list-item{
  background-color: #fff;
}
.ant-upload-list-item {
  background-color: #fff;
  padding: 0 5px;
  height: auto;
  border-radius: 32px;
  width: 117px;
}
.file_upload{
  background: #fff;
  padding: 0 0 0 10px;
  input[type='file']{
    background: transparent;
    border: none;
    box-shadow: none;
    text-indent: 3px;
  }
  button{
    border: none;
    background: #63ed63;
    padding: 15px 12px;
    color: #fff;
    cursor: pointer;
  }
}
.refresh{
  text-align: right;
  margin: 0 0 7px 0;
  background: #fff;
  float: right;
  padding: 6px;
  border-radius: 39px;
  cursor: pointer;
}
.ant-btn-primary{
  background-color: #13b618;
  border-radius: 82px;
  border: 1px solid #13b618;
}
.ant-btn{
  border-radius: 50px;
}